


@font-face {
    font-family: GameOfThrones;
    src: url(./assets/fonts/Game\ of\ Thrones.ttf);
}  
@font-face {
    font-family: Aquifer;
    src: url(./assets/fonts/Aquifer.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body, html{
    background-color: rgb(59, 70, 85);
  }
  
footer{
    font-family: GameOfThrones;
}

header{
    border-bottom: 5px solid black;
    font-family: GameOfThrones;
    color: rgb(218, 191, 71);
}

.container{
    width: 95%;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}

.nav h2{
    font-size: 2rem;
}
.search-box{
    position: relative;
    width: 350px;
}

.search-box input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border: 1px solid lightgray;
    
}
input:focus{
    box-shadow: 0 0 5px rgb(218, 191, 71);
    border: 1px solid;
}

.search-box i{
    color: black;
    position: absolute;
    top: 25%;
    right: 4%;
    transition: 1.5s;
}
.search-box i:hover{
    color:rgb(218, 191, 71);
}

.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.img{
    width: 50px;
    height: auto;
    margin-top: 10%;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 2px;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: fixed;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 10%;
  }
  
  .slide {
    width: 50%;
    height: 50%;
    position: fixed;
    transition: all 0.5s;
    background-image: url("CardImage-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-left: 12.5%;
    margin-top: 0%;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

#mainpanel {
    background-image: url("antiguo-papel-granulado-grunge-textura-fondo-hoja-papel-como-telon-fondo_1962-2173.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;

  }

  #secondpanel {
    text-align: justify;
    padding: 3%;
    color: antiquewhite;
    font-family: GameOfThrones;
    background-image: url("CardImage-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: fixed;
    margin-left: 40%;
    margin-top: 10%;
    
    width: 100%;
    height: 100%;
    
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  #imgpanel {
    text-align: center;
    width: 10%;
    height: 10%;
    object-fit: cover;
  }







.slide{
    width: auto;
    height:fit-content;
    color: beige;
    margin: auto;
    background-image: url("CardImage-01.png");
}

.slide img{
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}